/******************************************************************

Stylesheet: Desktop Stylsheet

******************************************************************/



/*********************
HEADER STYLES
*********************/

/*********************
NAVIGATION STYLES
*********************/


#topBar {
	height:70px;
	.activateSticky {

		ul li a {
			height:50px !important;
			line-height:50px !important;
		}
	}
	
	#topNav {
		ul {
		

			li {

				a {
					height:70px;
					line-height:70px;
				
					span {
						font-size:17px;
						margin-left:2px;
					}
				}
			}
		}
	}
}

#primaryNavContainer {

	nav#primaryNav {

		ul {

			li {

				a {
					font-size:26px;


					&:hover {

					}
				}
			}
		}
	}
}

/**********************
HOME STYLES
**********************/

#featuredHues {
	margin-bottom:4%;

	#featuredSmall {
		.subtitle {
			display:block;
		}

		h2 {font-size:26px;}
		.subtitle p {font-size:18px;}		
	}

	#featuredMedium {
		h2 {font-size:36px;}
		.subtitle p {font-size:28px;width:80%;}
	}

	#featuredLarge {
		h2 {font-size:60px;}
		.subtitle p {font-size:30px;width:50%;}
	}

	.featuredCard {

		.title {
			padding:20px;
		}

		

		h3 {
			font-size:36px;
		}
			
		h4 {
			font-size:26px;
		}

	}
}


#tabs-container {

	#tabNav {
	
	}

	

	.tabs-menu {

	    li {

		    text-align:center;
		}
	}
}

/**********************
ARTICLES AND BOOKS PAGE
**********************/

#myBooks {

	.bookCard {

		img {
			width:60%;
		}

		.text {
			width:60%;
		}
	}
}


/**********************
BLOG AND TEASER STYLES
**********************/

.teaser {
	margin-bottom:3em;

	.teaserTitle {
		padding:40px 40px 25px;
		font-size:2.3em;
		line-height:1.1;
	}

	.teaserText{
		padding:25px 40px 40px;
		width:55%;
	}

	.teaserImage {
		width:45%;
	}
}

#relatedPosts {

	.shadowbox {

		.loopText {
			font-size:1.35em;
		}
	}
}

/**********************
NARROW PAGE TEMPLATE
**********************/

.page-template-page-narrow {


	.wrap {
		padding:1em 20px;

		.aligncenter {
			margin:40px auto 40px -215px;
			max-width:1030px;
		}

		.alignleft {
			margin:40px 40px 20px -215px;
			height:auto;
		}

		.alignright {
			margin:40px -215px 20px 40px;
			max-width:90%;
		}

		.textHighlight.alignleft {
			margin:0px 40px 40px -215px;
			height:auto;
		}

		.textHighlight.alignright {
			margin:0px -215px 40px 40px;
			max-width:90%;
		}

		#relatedPages {
			margin:40px -215px 20px 40px;
		}
	}

}

