/******************************************************************

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/


/*********************
NAVIGATION STYLES
*********************/

#logo {display:block}

#primaryNavContainer {

	nav#primaryNav {
		
		.closeNav {
			a {
				display:block;
				height:230px;
				line-height:230px;
			}
		}

		ul {

			li {

				a {
					font-size:36px;
					height:110px;
				}
			}
		}
	}
}

/**********************
HEADER STYLES
**********************/


#infoBlurb {
	#infoText {
		width:64%;
		float:left;
	}

	#infoVid {
		display:block;
		width:36%;
		float:right;
		padding:0px 5px 0px 30px;
		position:relative;

		.headline {padding-left:0;}

		.youtube {
			background:darken($link-color,10%);
			@include rounded(2px);
			position:relative;
		}

		.centerIcon {
			font-size:40px;
			width:40px;
			height:40px;
			position:absolute;
			display:block;
			top:50%;
			left:50%;
			margin-top:-30px;
			margin-left:-20px;

			i.fa {
				color:lighten($link-color,10%);
			}
		}
	}
}


#topBar {
	
	#topNav {
		ul {
		

			li {

				a {
				
					span {
						font-size:17px;
						
						margin-left:2px;
					}

					&#huesNav {
						width:14%;

						i {display:none;}

						background-image:url(../images/hues-logotype-white-137-70.png);
						background-repeat:no-repeat;
						background-size:contain;
						background-position:center center;

						&:hover {
							background-image:url(../images/hues-logotype-white-137-70.png);
							background-repeat:no-repeat;
							background-size:contain;
							background-position:center center;
						}

						&:active {
							background-image:url(../images/hues-logotype-white-137-70.png);
							background-repeat:no-repeat;
							background-size:contain;
							background-position:center center;
						}
					}

					&#artNav {
						width:18%;
					}

					&#toolsNav {
						width:18%;
					}

					&#resourcesNav {
						width:18%;
					}

					&#gjNav {
						width:18%;
					}

					&#giftNav {
						width:14%;

						span {display:inline-block;}
					}
				}
			}
		}
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.show1240 {
	display:block;
}

/**********************
HOME PAGE
**********************/

#huesIS {
	padding:0px 0px 30px;
	text-align:center;
	min-height:350px;
	position:relative;

	h1 {
		position:absolute;
		margin: auto;
	  	top: 0; left: 0; bottom: 0; right: 0;
		height:180px;
		font-size:80px;
		line-height:.9;
		width:90%;
		font-family:$alt-font;
	}
}


#featuredHues {
	#featuredSmall {
		h2 {font-size:1.5em;}
		.subtitle p {font-size:1.2em;}		
	}

	#featuredMedium {
		h2 {font-size:2.7em;}
		.subtitle p {font-size:1.5em;}
	}

	#featuredLarge {
		h2 {font-size:4.5em;}
		.subtitle p {font-size:2.5em;}
	}

	.loopCard {

		.loopText {
			padding:20px;
		}

	}
}


/**********************
ARTICLES AND BOOKS PAGE
**********************/

#stickyShare {
	width: 19.364640883%;
}


#myBooks {

	.bookCard {

		img {
			width:50%;
		}

		.text {
			width:50%;
		}
	}
}

/**********************
BLOG AND TEASER STYLES
**********************/

.teaser {

	.teaserText{
		width:60%;
	}

	.teaserImage {
		width:40%;
	}
}


/**********************
NARROW PAGE TEMPLATE
**********************/

.page-template-page-narrow {

	.wrap {

		.aligncenter {
			margin:40px auto 40px -320px;
			max-width:1240px;
		}

		.alignleft {
			margin:40px 40px 20px -320px;
			max-width:100%;
			height:auto;
		}

		.alignright {
			margin:40px -320px 20px 40px;
			max-width:90%;
		}

		#relatedPages {
			margin:40px -240px 20px 40px;
		}
	}
}

/*** HRF FAQ STYLES ***/

.single .entry-content, .page-template-default .entry-content, .entry-content {
	.hrf-faq-list {
		padding:0 0 0 40px;
	}
}
