/******************************************************************

Stylesheet: 481px and Up Stylesheet

******************************************************************/

/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {
					
					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {
					
					}
				}
				
				&:first-child {}
				&:last-child {}
				
				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */
			
			/* highlight current page */
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

#primaryNavContainer {

	nav#primaryNav {

		ul {

			li {

				a {
				}
			}
		}
	}

}


/**********************
HOME PAGE
**********************/
#featuredHues {

	#featuredLarge {
		width:50%;
		float:left;
		
		.featuredCard {
			width:100%;
			float:none;
		}
	}

	.featuredCard {
		float:left;
		width:50%;
	}
}

#huesIS {
	min-height:340px;

	h1 {
		height:200px;
		width:80%;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
						
} /* end .entry-content */

.blogged {
	.bloggedImage {
		width:150px;
	}

	.bloggedText {
		margin-left:150px;
	}

	.bloggedLinks {
		display:block;
	}
}

#relatedPages {

	.loopTitle {
		padding:20px;
	}
}

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
