/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	font-size:120%;
	line-height:1.6;
}

.desktopHide {display:none !important;}

.mobileHide {display:block;}

h1, .h1 {
	font-size: 2.2em;
}

h2, .h2 {
	font-size: 1.8em;
}

h3, .h3 {
	font-size: 1.55em;
}

h4, .h4 {
	font-size: 1.33em;
}

h5, .h5 {
	font-size: 1.1em;
}



#meetHues {
	p {
		font-size:34px;
		top:0;
	}
}
/*********************
AD STYLES
*********************/

.fishtank {

	padding:1em 10%;

	span.fishtankText {
		font-family:$alt-font;
		font-size:1.8em;
		line-height:1.6;
		background:rgba(255,255,255,.5);
	}
}



.interstitial {

	h3 {
		margin:0;
	}

	.interLink {
		position:absolute;
		top:50%;
		margin-top:-18px;
		right:0;
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/


/**********************
HOME PAGE
**********************/

#huesIS {
	padding:0px 0px;
	text-align:center;
	min-height:300px;
	position:relative;

	h1 {
		position:absolute;
		margin: auto;
	  	top: 0; left: 0; bottom: 0; right: 0;
		height:200px;
		font-size:60px;
		line-height:1.1;
		width:90%;
		font-family:$alt-font;
		line-height:1.1;
	}
}

#featuredHues {
	margin-bottom:5%;

	#featuredMedium, #featuredLarge {
		float:left;
	}

	#featuredSmall {
		float:right;
		width:18.2%;
		.subtitle {
			display:none;
		}
		h2 {
			font-size:20px;
		}
	}

	#featuredMedium {
		width:27.3%;
		.subtitle {
			p {font-size:20px;}
		}

		h2 {
			font-size:30px;
		}
	}

	#featuredLarge {
		width:54.5%;

		.subtitle {
			p {font-size:2.0em;width:80%;}
		}

		h2 {
			font-size:3.2em;
		}
	}

	.featuredCard {
		float:none;
		width:100%;

		.title {
		}


		h4 {
			font-size:24px;
		}

		h2 {font-size:3.2em;}

		img {

		}

	}
}

.home {
	#samPhoto {
		display:none;
	}
}

#homeLinks {
	text-align:left;
}

#tabs-container {
	display:block;
	text-align:center;

	.alt-font {
		font-size:24px;
		margin-top:15px;
	}

	#tabNav {
		width:34%;
		margin:0;
		margin-top:20px;

		img {
			max-width:80%;
			height:auto;
		}

		.missionButton {
			max-width:80%;
			margin:0 auto 5px;

			a {
				padding:0 10px 0;
			    display:block;
			    position:relative;
			    overflow:hidden;
			    width:100%;
			    font-size:30px;
			    line-height:60px;
			    height:60px;
			    color:rgba(255,255,255,.6);
			    text-decoration: none;
			    text-transform:uppercase;
			    letter-spacing:1px;
			    font-style:italic;

			    @include rounded(2px);

			    i {position:absolute;right:10px;top:10px;font-size:40px;opacity:.5}

			    &#gjLink {background:$teal; &:hover {background:lighten($teal,5%); color:#fff;}}

			    &#giftLink {background:$purple; &:hover {background:lighten($purple,5%); color:#fff;}}
			}
		}
	}


	#tabContentWrap {
		width:66%;
		margin:0;
	}

	.tabs-menu {
	    clear: both;
	    display:block;
	    width:100%;
	    margin:10px auto;
	    padding:0;

	    li {
		    float: left;
		    margin:0;
		    width:100%;
		    padding:0;
		    text-align:left;

		    a {
			    padding:0 10px 0;
			    display:block;
			    position:relative;
			    overflow:hidden;
			    width:100%;
			    font-size:30px;
			    line-height:60px;
			    height:60px;
			    color:rgba(255,255,255,.5);
			    text-decoration: none;
			    text-transform:uppercase;
			    letter-spacing:1px;
			    font-style:italic;

			    -webkit-border-radius: 0 2px 2px 0;
				border-radius: 0 2px 2px 0;

			    i {position:absolute;right:10px;top:10px;font-size:40px;opacity:.3}

			    &:hover {}

			    &#artLink {
					background:$light-orange;
				}

				&#toolsLink {
					background:$pink;
				}

				&#resourcesLink {
					background:$light-blue;
				}

			}

		    &.current {
			    position: relative;
			    z-index: 5;

			    a {
			    	color:#fff;

			    	i {opacity:1}
			    }

			    a#artLink {
				}

				a#toolsLink {

				}

				a#resourcesLink {

				}
			}
		}
	}

	.tab-content {
	    display: none;
	    @include rounded(2px);

	    .project h2 {
	    	font-size:3em;
	    	text-align:left;
	    }
	}

	#art{
	 	display: block;
	 	background:$light-orange;
	 	padding:10px;

	 	a {
	 		color:$light-orange;

	 		&.button {background:$light-orange; color:#fff; text-shadow:none;}
	 	}

	 	.project {
	 		background:$light-orange;
	 	}
	}

	#tools{
	 	background:$pink;
	 	padding:10px;

	 	a {
	 		color:$pink;

	 		&.button {background:$pink; color:#fff; text-shadow:none;}
	 	}

	 	.project {
	 		background:$pink;
	 	}
	}

	#resources{
	 	background:$light-blue;
	 	padding:10px;

	 	a {
	 		color:$light-blue;

	 		&.button {background:$light-blue; color:#fff; text-shadow:none;}
	 	}

	 	.project {
	 		background:$light-blue;
	 	}
	}

	#contact {
		h3 {
			margin:20px 0 0;
			font-size:.80em;
			text-transform:none;
		}
	}
}

/**********************
COLLECTIVE PAGE
**********************/

.page-template-page-collective {

	.collectiveSec {
		h1 {
			font-size:4.6em;
		}

		h2 {font-size:2.3em;}
	}

	#Join {
		p {
			margin-top:30px;
			padding-top:20px;
			border-top:4px solid rgba(255,255,255,.8);
		}

		#mc_embed_signup {
			text-align:left;
		}

		input[type=submit]{
			margin-top:20px;
			font-size:28px;
			padding:30px 40px;
		}
	}
}


/**********************
NARROW PAGE TEMPLATE
**********************/

.page-template-page-narrow {


	.wrap {
		max-width:640px;
		padding:1em 20px;
		text-align:left;
		margin:0 auto;


		.entry-content {
			img {
				@include rounded(2px);
			}
			p {
			}

			blockquote p {
				line-height:1.2;
			}
		}

		.aligncenter {
			margin:40px auto 40px -84px;
			max-width:768px;
		}

		.alignleft {
			margin:40px 40px 20px -84px;
			max-width:80%;
			height:auto;
		}

		.alignright {
			margin:40px -84px 20px 40px;
			max-width:80%;
			height:auto;
		}

		.textHighlight.alignleft {
			margin:0px 40px 20px -84px;
			max-width:80%;
			height:auto;
		}

		.textHighlight.alignright {
			margin:0px -84px 20px 40px;
			max-width:80%;
			height:auto;
		}




		#relatedPages {
			margin:40px -84px 20px 40px;
		}

		.wp-caption-text {
			padding:0 15px;
		}

		.wp-caption.aligncenter p.wp-caption-text {text-align:center;}

		.wp-caption.alignright p.wp-caption-text {text-align:right;}
	}

}

/*********************
HEADER STYLES
*********************/


/*********************
NAVIGATION STYLES
*********************/

#infoBar {
	overflow:visible;
}

#topBar {
	position:relative;
	top:0;
	width:100%;
	height:60px;

	-webkit-filter: grayscale(.1);
  	filter: grayscale(.2);

  	@include transition(all 0.5s ease-in-out);

  	&:hover {
  		-webkit-filter: grayscale(0);
  		filter: grayscale(0);
  	}

	#topNav {
		ul {
			list-style:none;
			margin:0;
			padding:0;

			li {

				a {
					display:block;
					text-align:center;
					float:left;
					padding:0;
					color:rgba(255,255,255,.5);

					span {
						display:inline-block;
						font-size:12px;
						font-weight:bold;
						font-style:italic;
						letter-spacing:1px;
						text-transform:uppercase;
						margin-left:2px;
					}

					&#huesNav {
						width:8%;
					}

					&#artNav {
						width:21%;
					}

					&#toolsNav {
						width:21%;
					}

					&#resourcesNav {
						width:21%;
					}

					&#gjNav {
						width:21%;
					}

					&#giftNav {
						width:8%;

						span {display:none;}
					}
				}

			}
		}
	}
}

.header {
	#primaryNavContainer {
		float:left;
		padding:40px 20px;
		width:33.3333%;
	}

	#headerShop {
		padding:40px 40px 40px 20px;
		width:33.33333%;
		margin:0;
		float:right;

		a {
			height:50px;
			line-height:46px;
			font-style:regular;
			font-weight:300 !important;
			font-size:18px;
			width:100%;
			text-align:center;
			display:block;
			color:$accent-color;
			text-decoration:none;
			background:rgba(255,255,255,.7);
			border:2px solid $accent-color;
			@include rounded(2px);

			&:hover {
				background:$accent-color;
				border-color:darken($accent-color,20%);
				color:darken($accent-color,20%);
			}
		}
	}

	#headerSearch {
		width:33.33333%;
		padding:40px 20px 40px 40px;
	}
}

#primaryNavContainer {
	float:right;
	float:left;
	width:50%;
	box-shadow:none;
	height:50px;

	a#mobile-menu {
		height:50px;
		line-height:46px;
		font-style:regular;
		font-weight:300 !important;
		font-size:18px;
		width:100%;
		text-align:center;
		display:block;
		color:rgba(200,200,200,.9);
		border:2px solid rgba(200,200,200,.9);
		@include rounded(2px);

		i {margin-left:7px;}

		&:hover {
			color:#fff;
			background:$teal;
			border-color:lighten($teal,5%);
		}
	}

	nav#primaryNav {

		.closeNav {
			padding:5px;
			float:right;
			width:20%;

			a {

				&:hover {
					background:$red;
					color:#fff;
				}

				&:active {
					color:rgba(255,255,255,.7);
					background:darken($red,10%);
				}
			}
		}

		ul {
			margin:0;

			li {
				float:left;
				padding:5px;
				width:20%;
				text-overflow: ellipsis;

				a {
					font-size:22px;

					&:active {
						color:rgba(0,0,0,.5);
						font-size:200%;
					}


				}



			} /* end .menu li */

		} /* end ul */
	} /* Primary */
} /* Primary Container */

/*********************
CATEGORIES AND ARCHIVES
*********************/

.yearly-archive {

	.updatesSub {
		float:right;
	}

	h2 {
		padding:18px 12px;
	}

	ul {

		li a {
			font-size:22px;
			padding:18px 12px;

		}

		li:first-of-type {
			border-top:none;
		}
	}
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {
	.sidebar {
		opacity:.4;

		@include transition(opacity .2s ease-in-out);

		&:hover {opacity:1;}
	}
}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */


/*********************
POSTS & CONTENT STYLES
*********************/

.single.section-merch {

	.article-header {
		float:left;
		width:50%;
	}

	.us_posts_top {
		display:none;
	}

	.featuredImage{
		float:right;
		width:46%;
		padding-right:40px;

		img {
			@include rounded(2px);
		}
	}

	.merchSingleContent {
		float:left;
		width:50%;
	}
}

	#stickyPostTitle {
		display:none;
		position:fixed;
		left:0;
		z-index:999;
		width:100%;
		font-size:31px;
		line-height:31px;
		font-weight:300;
		font-style:italic;
		text-transform:none;
		overflow:hidden;
		text-overflow: ellipsis;

		@include transition(top .4s ease-in-out);
	}

	.unactiveSticky {
		max-height:0px;
		top:-50px;
	}

	.activateSticky {
		top:50px;
		max-height:100px;
		background:rgba(255,255,255,1);
		height:31px;
		width:100%;
		@include shadow;
	}

	.hentry {

		header {}

		footer {}

	} /* end .hentry */

	.single-title,
	.page-title {
	}

	.single-title {}

	.archive-title { }

	/* want to style individual post classes? Booya! */
	.post-id {}         /* post by id (i.e. post-3) */
	.post {}            /* general post style */
	.page {}            /* general article on a page style */
	.attachment {}      /* general style on an attatchment */
	.sticky {}          /* sticky post style */
	.hentry {}          /* hentry class */
	.category-slug {}   /* style by category (i.e. category-videos) */
	.tag-slug {}        /* style by tag (i.e. tag-news) */

	/* post meta */
	.byline {
		color: #999;

		time {}
	}

#getTheBookHome {
	display:block;

	.option {
		width:33.33333333%;
		float:left;
	}

}

.single-updates, .single-press_clippings{

	p.byline {
		margin:40px 0 5px;
		line-height:1.1;
		font-size:18px;
		opacity:.7;

		@include transition(all .2s ease-in-out);

		&:hover {
			opacity:1;
		}
	}

	.huesLinks {
		margin-right:2%;

		a {
			margin:0;
		}
	}

	.article-header .huesLinks{
		text-align:left;
	}
}

/**********************
PROJECT LOOP STYLES
**********************/


#main {
	.project h2 { font-size:3em;}
	.subtitle {font-size:1.4em;width:66.666%;}
}

/**********************
BLOG AND TEASER STYLES
**********************/

.teaser {
	margin-bottom:2.762430939%;

	.teaserTitle {
		padding:30px 30px 15px;
	}

	.teaserText{
		padding:15px 30px 30px;
		width:50%;
		margin:0;
	}

	.teaserImage {
		width:50%;
		margin:0;
	}
}

.snapshot {
	margin:8.762430939% auto;
}

#relatedPosts {

	.shadowbox {

		.loopText {
			font-size:1.1em;
		}
	}
}


/**********************
BLOGGED STYLES
**********************/

.blogged {

	.loopText {
		float:right;
		width:100%;
		text-align:left;
		padding:40px 20px 40px 37%;
		border-radius:0;
		-webkit-border-radius:0;
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	h4 {margin-top:0;}
}

	.widgettitle {
	}

	.widget {
		padding: 0;
		margin: 0 0 4em;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*********************
TESTIMONIAL STYLES
*********************/

.testimonialWrap {
	margin:1.5em 0;
	position:relative;


	.testimonial {
		font-size:2.2em;
		padding:0 1.5em;
	}

	.author, .url {
		margin:20px 0 0;
		width:100%;
		padding-left:50%;
		text-align:left;
		float:right;
		font-size:1em;
	}
}


#mailingList {
	text-align:center;

	label {
		text-align:right;
		display:inline-block;
		font-family:$theme-font;
		font-weight:bold;
		font-style:italic;
		line-height:1.1;
		max-width:100px;
	}

	.inputWrap {

		input {
			padding:24px;
		}

		button{
			background:rgba(255,255,255,1);
			margin:1%;
			width:98%;
			color:$pink;
		}
	}
}

/*********************
CONTACT FORM STYLES
*********************/

.formspreeContact {

	.inputWrap {
		overflow:visible;
	}
}

.page-id-452, .page-id-466 {
	#container {
		background-image:url(../images/bg/TelephonePatentDrawingBell.jpg);
		background-size:contain;
		background-repeat:no-repeat;
	}
}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer {

}
