/******************************************************************

Stylesheet: IE Stylesheet

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/*********************
CLEARFIXIN'
*********************/
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
.blue, .blue a {
  color: #467cbf !important; }

.light-blue, .light-blue a {
  color: #42b4e3 !important; }

.green, .green a {
  color: #40ae49 !important; }

.yellow, .yellow a {
  color: #ffcd00 !important; }

.red, .red a {
  color: #cb2044 !important; }

.orange, .orange a {
  color: #ed7623 !important; }

.light-orange, .light-orange a {
  color: #f5a81c !important; }

.pink, .pink a {
  color: #e81d76 !important; }

.purple, .purple a {
  color: #803c96 !important; }

.teal, .teal a {
  color: #00a897 !important; }

.grey, .grey a {
  color: #9c9c9c !important; }

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
.alt-font {
  font-family: "Dancing Script", Cambria, Times New Roman, Times, serif; }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp, i.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
  font-weight: 100; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid; }

.alert-help {
  border-color: #e8dc59;
  background: #ebe16f; }

.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8; }

.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4; }

.alert-success {
  border-color: #deeaae;
  background: #e6efc2; }

/*********************
ROUNDED CORNERS
*********************/
.rounded {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }

/*********************
BOX SHADOW
*********************/
.shadow {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12); }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
.button, .button:visited {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 120%;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
  background: #00a897;
  padding: 14px 20px;
  margin: 0 0 20px;
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px; }
  .button i, .button:visited i {
    margin-left: 7px; }
  .button span, .button:visited span {
    font-size: 11px;
    font-family: "Dancing Script", Cambria, Times New Roman, Times, serif;
    text-transform: none; }
  .button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
    background: #00c2ae;
    color: #fff; }
  .button:active, .button:visited:active {
    background: #008f80;
    color: rgba(0, 0, 0, 0.4); }

.accent-button, .accent-button:visited {
  background: #f5a81c; }
  .accent-button:hover, .accent-button:focus, .accent-button:visited:hover, .accent-button:visited:focus {
    background: #f6b134;
    color: #fff; }
  .accent-button:active, .accent-button:visited:active {
    background: #ed9d0a;
    color: rgba(0, 0, 0, 0.4); }

/******************************************************************

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap.
I liked 1140 but Boostrap's grid was way more detailed so I merged them
together, let's see how this works out. If you want to use 1140, the original
values are commented out on each line.

******************************************************************/
.onecol {
  width: 3.75%; }

/* 4.85%;  } /* grid_1  */
.twocol {
  width: 12.5%; }

/* 13.45%; } /* grid_2  */
.threecol {
  width: 21.25%; }

/* 22.05%; } /* grid_3  */
.fourcol {
  width: 30%; }

/* 30.75%; } /* grid_4  */
.fivecol {
  width: 38.75%; }

/* 39.45%; } /* grid_5  */
.sixcol {
  width: 47.5%; }

/* 48%;    } /* grid_6  */
.sevencol {
  width: 56.25%; }

/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65%; }

/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 73.75%; }

/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.5%; }

/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.25%; }

/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%; }

/* 100%;   } /* grid_12 */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .floatcol {
  position: relative;
  float: left;
  margin-left: 5%; }

.first {
  margin-left: 0; }

.last {
  float: right; }

/******************************************************************

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
				plan your menus and drop-downs wisely.
				*/ }
      .menu ul li a {
        /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/ }

/* end .menu */
/**********************
HOME PAGE
**********************/
#featuredHues #featuredLarge {
  width: 50%;
  float: left; }
  #featuredHues #featuredLarge .featuredCard {
    width: 100%;
    float: none; }

#featuredHues .featuredCard {
  float: left;
  width: 50%; }

#huesIS {
  min-height: 340px; }
  #huesIS h1 {
    height: 200px;
    width: 80%; }

/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* end .entry-content */
.blogged .bloggedImage {
  width: 150px; }

.blogged .bloggedText {
  margin-left: 150px; }

.blogged .bloggedLinks {
  display: block; }

#relatedPages .loopTitle {
  padding: 20px; }

/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  font-size: 120%;
  line-height: 1.6; }

.desktopHide {
  display: none !important; }

.mobileHide {
  display: block; }

h1, .h1 {
  font-size: 2.2em; }

h2, .h2 {
  font-size: 1.8em; }

h3, .h3 {
  font-size: 1.55em; }

h4, .h4 {
  font-size: 1.33em; }

h5, .h5 {
  font-size: 1.1em; }

#meetHues p {
  font-size: 34px;
  top: 0; }

/*********************
AD STYLES
*********************/
.fishtank {
  padding: 1em 10%; }
  .fishtank span.fishtankText {
    font-family: "Dancing Script", Cambria, Times New Roman, Times, serif;
    font-size: 1.8em;
    line-height: 1.6;
    background: rgba(255, 255, 255, 0.5); }

.interstitial h3 {
  margin: 0; }

.interstitial .interLink {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: 0; }

/*********************
LAYOUT & GRID STYLES
*********************/
/**********************
HOME PAGE
**********************/
#huesIS {
  padding: 0px 0px;
  text-align: center;
  min-height: 300px;
  position: relative; }
  #huesIS h1 {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 200px;
    font-size: 60px;
    line-height: 1.1;
    width: 90%;
    font-family: "Dancing Script", Cambria, Times New Roman, Times, serif;
    line-height: 1.1; }

#featuredHues {
  margin-bottom: 5%; }
  #featuredHues #featuredMedium, #featuredHues #featuredLarge {
    float: left; }
  #featuredHues #featuredSmall {
    float: right;
    width: 18.2%; }
    #featuredHues #featuredSmall .subtitle {
      display: none; }
    #featuredHues #featuredSmall h2 {
      font-size: 20px; }
  #featuredHues #featuredMedium {
    width: 27.3%; }
    #featuredHues #featuredMedium .subtitle p {
      font-size: 20px; }
    #featuredHues #featuredMedium h2 {
      font-size: 30px; }
  #featuredHues #featuredLarge {
    width: 54.5%; }
    #featuredHues #featuredLarge .subtitle p {
      font-size: 2.0em;
      width: 80%; }
    #featuredHues #featuredLarge h2 {
      font-size: 3.2em; }
  #featuredHues .featuredCard {
    float: none;
    width: 100%; }
    #featuredHues .featuredCard h4 {
      font-size: 24px; }
    #featuredHues .featuredCard h2 {
      font-size: 3.2em; }

.home #samPhoto {
  display: none; }

#homeLinks {
  text-align: left; }

#tabs-container {
  display: block;
  text-align: center; }
  #tabs-container .alt-font {
    font-size: 24px;
    margin-top: 15px; }
  #tabs-container #tabNav {
    width: 34%;
    margin: 0;
    margin-top: 20px; }
    #tabs-container #tabNav img {
      max-width: 80%;
      height: auto; }
    #tabs-container #tabNav .missionButton {
      max-width: 80%;
      margin: 0 auto 5px; }
      #tabs-container #tabNav .missionButton a {
        padding: 0 10px 0;
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        font-size: 30px;
        line-height: 60px;
        height: 60px;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-style: italic;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px; }
        #tabs-container #tabNav .missionButton a i {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 40px;
          opacity: .5; }
        #tabs-container #tabNav .missionButton a#gjLink {
          background: #00a897; }
          #tabs-container #tabNav .missionButton a#gjLink:hover {
            background: #00c2ae;
            color: #fff; }
        #tabs-container #tabNav .missionButton a#giftLink {
          background: #803c96; }
          #tabs-container #tabNav .missionButton a#giftLink:hover {
            background: #9043a8;
            color: #fff; }
  #tabs-container #tabContentWrap {
    width: 66%;
    margin: 0; }
  #tabs-container .tabs-menu {
    clear: both;
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 0; }
    #tabs-container .tabs-menu li {
      float: left;
      margin: 0;
      width: 100%;
      padding: 0;
      text-align: left; }
      #tabs-container .tabs-menu li a {
        padding: 0 10px 0;
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        font-size: 30px;
        line-height: 60px;
        height: 60px;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-style: italic;
        -webkit-border-radius: 0 2px 2px 0;
        border-radius: 0 2px 2px 0; }
        #tabs-container .tabs-menu li a i {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 40px;
          opacity: .3; }
        #tabs-container .tabs-menu li a#artLink {
          background: #f5a81c; }
        #tabs-container .tabs-menu li a#toolsLink {
          background: #e81d76; }
        #tabs-container .tabs-menu li a#resourcesLink {
          background: #42b4e3; }
      #tabs-container .tabs-menu li.current {
        position: relative;
        z-index: 5; }
        #tabs-container .tabs-menu li.current a {
          color: #fff; }
          #tabs-container .tabs-menu li.current a i {
            opacity: 1; }
  #tabs-container .tab-content {
    display: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    #tabs-container .tab-content .project h2 {
      font-size: 3em;
      text-align: left; }
  #tabs-container #art {
    display: block;
    background: #f5a81c;
    padding: 10px; }
    #tabs-container #art a {
      color: #f5a81c; }
      #tabs-container #art a.button {
        background: #f5a81c;
        color: #fff;
        text-shadow: none; }
    #tabs-container #art .project {
      background: #f5a81c; }
  #tabs-container #tools {
    background: #e81d76;
    padding: 10px; }
    #tabs-container #tools a {
      color: #e81d76; }
      #tabs-container #tools a.button {
        background: #e81d76;
        color: #fff;
        text-shadow: none; }
    #tabs-container #tools .project {
      background: #e81d76; }
  #tabs-container #resources {
    background: #42b4e3;
    padding: 10px; }
    #tabs-container #resources a {
      color: #42b4e3; }
      #tabs-container #resources a.button {
        background: #42b4e3;
        color: #fff;
        text-shadow: none; }
    #tabs-container #resources .project {
      background: #42b4e3; }
  #tabs-container #contact h3 {
    margin: 20px 0 0;
    font-size: .80em;
    text-transform: none; }

/**********************
COLLECTIVE PAGE
**********************/
.page-template-page-collective .collectiveSec h1 {
  font-size: 4.6em; }

.page-template-page-collective .collectiveSec h2 {
  font-size: 2.3em; }

.page-template-page-collective #Join p {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 4px solid rgba(255, 255, 255, 0.8); }

.page-template-page-collective #Join #mc_embed_signup {
  text-align: left; }

.page-template-page-collective #Join input[type=submit] {
  margin-top: 20px;
  font-size: 28px;
  padding: 30px 40px; }

/**********************
NARROW PAGE TEMPLATE
**********************/
.page-template-page-narrow .wrap {
  max-width: 640px;
  padding: 1em 20px;
  text-align: left;
  margin: 0 auto; }
  .page-template-page-narrow .wrap .entry-content img {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
  .page-template-page-narrow .wrap .entry-content blockquote p {
    line-height: 1.2; }
  .page-template-page-narrow .wrap .aligncenter {
    margin: 40px auto 40px -84px;
    max-width: 768px; }
  .page-template-page-narrow .wrap .alignleft {
    margin: 40px 40px 20px -84px;
    max-width: 80%;
    height: auto; }
  .page-template-page-narrow .wrap .alignright {
    margin: 40px -84px 20px 40px;
    max-width: 80%;
    height: auto; }
  .page-template-page-narrow .wrap .textHighlight.alignleft {
    margin: 0px 40px 20px -84px;
    max-width: 80%;
    height: auto; }
  .page-template-page-narrow .wrap .textHighlight.alignright {
    margin: 0px -84px 20px 40px;
    max-width: 80%;
    height: auto; }
  .page-template-page-narrow .wrap #relatedPages {
    margin: 40px -84px 20px 40px; }
  .page-template-page-narrow .wrap .wp-caption-text {
    padding: 0 15px; }
  .page-template-page-narrow .wrap .wp-caption.aligncenter p.wp-caption-text {
    text-align: center; }
  .page-template-page-narrow .wrap .wp-caption.alignright p.wp-caption-text {
    text-align: right; }

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
#infoBar {
  overflow: visible; }

#topBar {
  position: relative;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-filter: grayscale(0.1);
  filter: grayscale(0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #topBar:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
  #topBar #topNav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #topBar #topNav ul li a {
      display: block;
      text-align: center;
      float: left;
      padding: 0;
      color: rgba(255, 255, 255, 0.5); }
      #topBar #topNav ul li a span {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-left: 2px; }
      #topBar #topNav ul li a#huesNav {
        width: 8%; }
      #topBar #topNav ul li a#artNav {
        width: 21%; }
      #topBar #topNav ul li a#toolsNav {
        width: 21%; }
      #topBar #topNav ul li a#resourcesNav {
        width: 21%; }
      #topBar #topNav ul li a#gjNav {
        width: 21%; }
      #topBar #topNav ul li a#giftNav {
        width: 8%; }
        #topBar #topNav ul li a#giftNav span {
          display: none; }

.header #primaryNavContainer {
  float: left;
  padding: 40px 20px;
  width: 33.3333%; }

.header #headerShop {
  padding: 40px 40px 40px 20px;
  width: 33.33333%;
  margin: 0;
  float: right; }
  .header #headerShop a {
    height: 50px;
    line-height: 46px;
    font-style: regular;
    font-weight: 300 !important;
    font-size: 18px;
    width: 100%;
    text-align: center;
    display: block;
    color: #f5a81c;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #f5a81c;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    .header #headerShop a:hover {
      background: #f5a81c;
      border-color: #a46c07;
      color: #a46c07; }

.header #headerSearch {
  width: 33.33333%;
  padding: 40px 20px 40px 40px; }

#primaryNavContainer {
  float: right;
  float: left;
  width: 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  /* Primary */ }
  #primaryNavContainer a#mobile-menu {
    height: 50px;
    line-height: 46px;
    font-style: regular;
    font-weight: 300 !important;
    font-size: 18px;
    width: 100%;
    text-align: center;
    display: block;
    color: rgba(200, 200, 200, 0.9);
    border: 2px solid rgba(200, 200, 200, 0.9);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }
    #primaryNavContainer a#mobile-menu i {
      margin-left: 7px; }
    #primaryNavContainer a#mobile-menu:hover {
      color: #fff;
      background: #00a897;
      border-color: #00c2ae; }
  #primaryNavContainer nav#primaryNav {
    /* end ul */ }
    #primaryNavContainer nav#primaryNav .closeNav {
      padding: 5px;
      float: right;
      width: 20%; }
      #primaryNavContainer nav#primaryNav .closeNav a:hover {
        background: #cb2044;
        color: #fff; }
      #primaryNavContainer nav#primaryNav .closeNav a:active {
        color: rgba(255, 255, 255, 0.7);
        background: #9f1935; }
    #primaryNavContainer nav#primaryNav ul {
      margin: 0;
      /* end .menu li */ }
      #primaryNavContainer nav#primaryNav ul li {
        float: left;
        padding: 5px;
        width: 20%;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; }
        #primaryNavContainer nav#primaryNav ul li a {
          font-size: 22px; }
          #primaryNavContainer nav#primaryNav ul li a:active {
            color: rgba(0, 0, 0, 0.5);
            font-size: 200%; }

/* Primary Container */
/*********************
CATEGORIES AND ARCHIVES
*********************/
.yearly-archive .updatesSub {
  float: right; }

.yearly-archive h2 {
  padding: 18px 12px; }

.yearly-archive ul li a {
  font-size: 22px;
  padding: 18px 12px; }

.yearly-archive ul li:first-of-type {
  border-top: none; }

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
.single .sidebar {
  opacity: .4;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }
  .single .sidebar:hover {
    opacity: 1; }

/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
POSTS & CONTENT STYLES
*********************/
.single.section-merch .article-header {
  float: left;
  width: 50%; }

.single.section-merch .us_posts_top {
  display: none; }

.single.section-merch .featuredImage {
  float: right;
  width: 46%;
  padding-right: 40px; }
  .single.section-merch .featuredImage img {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }

.single.section-merch .merchSingleContent {
  float: left;
  width: 50%; }

#stickyPostTitle {
  display: none;
  position: fixed;
  left: 0;
  z-index: 999;
  width: 100%;
  font-size: 31px;
  line-height: 31px;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out;
  -o-transition: top 0.4s ease-in-out;
  -transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out; }

.unactiveSticky {
  max-height: 0px;
  top: -50px; }

.activateSticky {
  top: 50px;
  max-height: 100px;
  background: white;
  height: 31px;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12); }

/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
.byline {
  color: #999; }

#getTheBookHome {
  display: block; }
  #getTheBookHome .option {
    width: 33.33333333%;
    float: left; }

.single-updates p.byline, .single-press_clippings p.byline {
  margin: 40px 0 5px;
  line-height: 1.1;
  font-size: 18px;
  opacity: .7;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .single-updates p.byline:hover, .single-press_clippings p.byline:hover {
    opacity: 1; }

.single-updates .huesLinks, .single-press_clippings .huesLinks {
  margin-right: 2%; }
  .single-updates .huesLinks a, .single-press_clippings .huesLinks a {
    margin: 0; }

.single-updates .article-header .huesLinks, .single-press_clippings .article-header .huesLinks {
  text-align: left; }

/**********************
PROJECT LOOP STYLES
**********************/
#main .project h2 {
  font-size: 3em; }

#main .subtitle {
  font-size: 1.4em;
  width: 66.666%; }

/**********************
BLOG AND TEASER STYLES
**********************/
.teaser {
  margin-bottom: 2.762430939%; }
  .teaser .teaserTitle {
    padding: 30px 30px 15px; }
  .teaser .teaserText {
    padding: 15px 30px 30px;
    width: 50%;
    margin: 0; }
  .teaser .teaserImage {
    width: 50%;
    margin: 0; }

.snapshot {
  margin: 8.762430939% auto; }

#relatedPosts .shadowbox .loopText {
  font-size: 1.1em; }

/**********************
BLOGGED STYLES
**********************/
.blogged .loopText {
  float: right;
  width: 100%;
  text-align: left;
  padding: 40px 20px 40px 37%;
  border-radius: 0;
  -webkit-border-radius: 0; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar h4 {
  margin-top: 0; }

.widget {
  padding: 0;
  margin: 0 0 4em; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/*********************
TESTIMONIAL STYLES
*********************/
.testimonialWrap {
  margin: 1.5em 0;
  position: relative; }
  .testimonialWrap .testimonial {
    font-size: 2.2em;
    padding: 0 1.5em; }
  .testimonialWrap .author, .testimonialWrap .url {
    margin: 20px 0 0;
    width: 100%;
    padding-left: 50%;
    text-align: left;
    float: right;
    font-size: 1em; }

#mailingList {
  text-align: center; }
  #mailingList label {
    text-align: right;
    display: inline-block;
    font-family: Karla, "Karla", Karla, "Karla", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1.1;
    max-width: 100px; }
  #mailingList .inputWrap input {
    padding: 24px; }
  #mailingList .inputWrap button {
    background: white;
    margin: 1%;
    width: 98%;
    color: #e81d76; }

/*********************
CONTACT FORM STYLES
*********************/
.formspreeContact .inputWrap {
  overflow: visible; }

.page-id-452 #container, .page-id-466 #container {
  background-image: url(../images/bg/TelephonePatentDrawingBell.jpg);
  background-size: contain;
  background-repeat: no-repeat; }

/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/******************************************************************

Stylesheet: Desktop Stylsheet

******************************************************************/
/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
#topBar {
  height: 70px; }
  #topBar .activateSticky ul li a {
    height: 50px !important;
    line-height: 50px !important; }
  #topBar #topNav ul li a {
    height: 70px;
    line-height: 70px; }
    #topBar #topNav ul li a span {
      font-size: 17px;
      margin-left: 2px; }

#primaryNavContainer nav#primaryNav ul li a {
  font-size: 26px; }

/**********************
HOME STYLES
**********************/
#featuredHues {
  margin-bottom: 4%; }
  #featuredHues #featuredSmall .subtitle {
    display: block; }
  #featuredHues #featuredSmall h2 {
    font-size: 26px; }
  #featuredHues #featuredSmall .subtitle p {
    font-size: 18px; }
  #featuredHues #featuredMedium h2 {
    font-size: 36px; }
  #featuredHues #featuredMedium .subtitle p {
    font-size: 28px;
    width: 80%; }
  #featuredHues #featuredLarge h2 {
    font-size: 60px; }
  #featuredHues #featuredLarge .subtitle p {
    font-size: 30px;
    width: 50%; }
  #featuredHues .featuredCard .title {
    padding: 20px; }
  #featuredHues .featuredCard h3 {
    font-size: 36px; }
  #featuredHues .featuredCard h4 {
    font-size: 26px; }

#tabs-container .tabs-menu li {
  text-align: center; }

/**********************
ARTICLES AND BOOKS PAGE
**********************/
#myBooks .bookCard img {
  width: 60%; }

#myBooks .bookCard .text {
  width: 60%; }

/**********************
BLOG AND TEASER STYLES
**********************/
.teaser {
  margin-bottom: 3em; }
  .teaser .teaserTitle {
    padding: 40px 40px 25px;
    font-size: 2.3em;
    line-height: 1.1; }
  .teaser .teaserText {
    padding: 25px 40px 40px;
    width: 55%; }
  .teaser .teaserImage {
    width: 45%; }

#relatedPosts .shadowbox .loopText {
  font-size: 1.35em; }

/**********************
NARROW PAGE TEMPLATE
**********************/
.page-template-page-narrow .wrap {
  padding: 1em 20px; }
  .page-template-page-narrow .wrap .aligncenter {
    margin: 40px auto 40px -215px;
    max-width: 1030px; }
  .page-template-page-narrow .wrap .alignleft {
    margin: 40px 40px 20px -215px;
    height: auto; }
  .page-template-page-narrow .wrap .alignright {
    margin: 40px -215px 20px 40px;
    max-width: 90%; }
  .page-template-page-narrow .wrap .textHighlight.alignleft {
    margin: 0px 40px 40px -215px;
    height: auto; }
  .page-template-page-narrow .wrap .textHighlight.alignright {
    margin: 0px -215px 40px 40px;
    max-width: 90%; }
  .page-template-page-narrow .wrap #relatedPages {
    margin: 40px -215px 20px 40px; }

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
