@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
/******************************************************************

Stylesheet: IE Stylesheet

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/*********************
CLEARFIXIN'
*********************/
/* line 6, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 8, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 9, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 17, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* line 79, ../scss/_mixins.scss */
.blue, .blue a {
  color: #467cbf !important;
}

/* line 80, ../scss/_mixins.scss */
.light-blue, .light-blue a {
  color: #42b4e3 !important;
}

/* line 81, ../scss/_mixins.scss */
.green, .green a {
  color: #40ae49 !important;
}

/* line 82, ../scss/_mixins.scss */
.yellow, .yellow a {
  color: #ffcd00 !important;
}

/* line 83, ../scss/_mixins.scss */
.red, .red a {
  color: #cb2044 !important;
}

/* line 84, ../scss/_mixins.scss */
.orange, .orange a {
  color: #ed7623 !important;
}

/* line 85, ../scss/_mixins.scss */
.light-orange, .light-orange a {
  color: #f5a81c !important;
}

/* line 86, ../scss/_mixins.scss */
.pink, .pink a {
  color: #e81d76 !important;
}

/* line 87, ../scss/_mixins.scss */
.purple, .purple a {
  color: #803c96 !important;
}

/* line 88, ../scss/_mixins.scss */
.teal, .teal a {
  color: #00a897 !important;
}

/* line 89, ../scss/_mixins.scss */
.grey, .grey a {
  color: #9c9c9c !important;
}

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* line 113, ../scss/_mixins.scss */
.alt-font {
  font-family: "Dancing Script", Cambria, Times New Roman, Times, serif;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 120, ../scss/_mixins.scss */
span.amp, i.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
  font-weight: 100;
}

/* line 127, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 128, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 129, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 133, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 139, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 145, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 151, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 157, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
ROUNDED CORNERS
*********************/
/* line 174, ../scss/_mixins.scss */
.rounded {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/*********************
BOX SHADOW
*********************/
/* line 188, ../scss/_mixins.scss */
.shadow {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 246, ../scss/_mixins.scss */
.button, .button:visited {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 120%;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
  background: #00a897;
  padding: 14px 20px;
  margin: 0 0 20px;
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* line 260, ../scss/_mixins.scss */
.button i, .button:visited i {
  margin-left: 7px;
}
/* line 262, ../scss/_mixins.scss */
.button span, .button:visited span {
  font-size: 11px;
  font-family: "Dancing Script", Cambria, Times New Roman, Times, serif;
  text-transform: none;
}
/* line 268, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  background: #00c2ae;
  color: #fff;
}
/* line 273, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background: #008e80;
  color: rgba(0, 0, 0, 0.4);
}

/* line 279, ../scss/_mixins.scss */
.accent-button, .accent-button:visited {
  background: #f5a81c;
}
/* line 283, ../scss/_mixins.scss */
.accent-button:hover, .accent-button:focus, .accent-button:visited:hover, .accent-button:visited:focus {
  background: #f6b134;
  color: #fff;
}
/* line 288, ../scss/_mixins.scss */
.accent-button:active, .accent-button:visited:active {
  background: #ed9d0a;
  color: rgba(0, 0, 0, 0.4);
}

/******************************************************************

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
/* line 22, ../scss/_grid.scss */
.onecol {
  width: 3.75%;
}

/* 4.85%;  } /* grid_1  */
/* line 23, ../scss/_grid.scss */
.twocol {
  width: 12.5%;
}

/* 13.45%; } /* grid_2  */
/* line 24, ../scss/_grid.scss */
.threecol {
  width: 21.25%;
}

/* 22.05%; } /* grid_3  */
/* line 25, ../scss/_grid.scss */
.fourcol {
  width: 30%;
}

/* 30.75%; } /* grid_4  */
/* line 26, ../scss/_grid.scss */
.fivecol {
  width: 38.75%;
}

/* 39.45%; } /* grid_5  */
/* line 27, ../scss/_grid.scss */
.sixcol {
  width: 47.5%;
}

/* 48%;    } /* grid_6  */
/* line 28, ../scss/_grid.scss */
.sevencol {
  width: 56.25%;
}

/* 56.75%; } /* grid_7  */
/* line 29, ../scss/_grid.scss */
.eightcol {
  width: 65%;
}

/* 65.4%;  } /* grid_8  */
/* line 30, ../scss/_grid.scss */
.ninecol {
  width: 73.75%;
}

/* 74.05%; } /* grid_9  */
/* line 31, ../scss/_grid.scss */
.tencol {
  width: 82.5%;
}

/* 82.7%;  } /* grid_10 */
/* line 32, ../scss/_grid.scss */
.elevencol {
  width: 91.25%%;
}

/* 91.35%; } /* grid_11 */
/* line 33, ../scss/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 37, ../scss/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .floatcol {
  position: relative;
  float: left;
  margin-left: 5%;
}

/* line 43, ../scss/_grid.scss */
.first {
  margin-left: 0;
}

/* line 47, ../scss/_grid.scss */
.last {
  float: right;
}

/******************************************************************

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 14, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 15, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 16, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 17, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/**********************
HOME PAGE
**********************/
/* line 79, ../scss/_481up.scss */
#featuredHues #featuredLarge {
  width: 50%;
  float: left;
}
/* line 83, ../scss/_481up.scss */
#featuredHues #featuredLarge .featuredCard {
  width: 100%;
  float: none;
}
/* line 89, ../scss/_481up.scss */
#featuredHues .featuredCard {
  float: left;
  width: 50%;
}

/* line 95, ../scss/_481up.scss */
#huesIS {
  min-height: 340px;
}
/* line 98, ../scss/_481up.scss */
#huesIS h1 {
  height: 200px;
  width: 80%;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* end .entry-content */
/* line 114, ../scss/_481up.scss */
.blogged .bloggedImage {
  width: 150px;
}
/* line 118, ../scss/_481up.scss */
.blogged .bloggedText {
  margin-left: 150px;
}
/* line 122, ../scss/_481up.scss */
.blogged .bloggedLinks {
  display: block;
}

/* line 129, ../scss/_481up.scss */
#relatedPages .loopTitle {
  padding: 20px;
}

/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 12, ../scss/_768up.scss */
body {
  font-size: 120%;
  line-height: 1.6;
}

/* line 17, ../scss/_768up.scss */
.desktopHide {
  display: none !important;
}

/* line 19, ../scss/_768up.scss */
.mobileHide {
  display: block;
}

/* line 21, ../scss/_768up.scss */
h1, .h1 {
  font-size: 2.2em;
}

/* line 25, ../scss/_768up.scss */
h2, .h2 {
  font-size: 1.8em;
}

/* line 29, ../scss/_768up.scss */
h3, .h3 {
  font-size: 1.55em;
}

/* line 33, ../scss/_768up.scss */
h4, .h4 {
  font-size: 1.33em;
}

/* line 37, ../scss/_768up.scss */
h5, .h5 {
  font-size: 1.1em;
}

/* line 44, ../scss/_768up.scss */
#meetHues p {
  font-size: 34px;
  top: 0;
}

/*********************
AD STYLES
*********************/
/* line 53, ../scss/_768up.scss */
.fishtank {
  padding: 1em 10%;
}
/* line 57, ../scss/_768up.scss */
.fishtank span.fishtankText {
  font-family: "Dancing Script", Cambria, Times New Roman, Times, serif;
  font-size: 1.8em;
  line-height: 1.6;
  background: rgba(255, 255, 255, 0.5);
}

/* line 69, ../scss/_768up.scss */
.interstitial h3 {
  margin: 0;
}
/* line 73, ../scss/_768up.scss */
.interstitial .interLink {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/**********************
HOME PAGE
**********************/
/* line 90, ../scss/_768up.scss */
#huesIS {
  padding: 0px 0px;
  text-align: center;
  min-height: 300px;
  position: relative;
}
/* line 96, ../scss/_768up.scss */
#huesIS h1 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 200px;
  font-size: 60px;
  line-height: 1.1;
  width: 90%;
  font-family: "Dancing Script", Cambria, Times New Roman, Times, serif;
  line-height: 1.1;
}

/* line 109, ../scss/_768up.scss */
#featuredHues {
  margin-bottom: 5%;
}
/* line 112, ../scss/_768up.scss */
#featuredHues #featuredMedium, #featuredHues #featuredLarge {
  float: left;
}
/* line 116, ../scss/_768up.scss */
#featuredHues #featuredSmall {
  float: right;
  width: 18.2%;
}
/* line 119, ../scss/_768up.scss */
#featuredHues #featuredSmall .subtitle {
  display: none;
}
/* line 122, ../scss/_768up.scss */
#featuredHues #featuredSmall h2 {
  font-size: 20px;
}
/* line 127, ../scss/_768up.scss */
#featuredHues #featuredMedium {
  width: 27.3%;
}
/* line 130, ../scss/_768up.scss */
#featuredHues #featuredMedium .subtitle p {
  font-size: 20px;
}
/* line 133, ../scss/_768up.scss */
#featuredHues #featuredMedium h2 {
  font-size: 30px;
}
/* line 138, ../scss/_768up.scss */
#featuredHues #featuredLarge {
  width: 54.5%;
}
/* line 142, ../scss/_768up.scss */
#featuredHues #featuredLarge .subtitle p {
  font-size: 2.0em;
  width: 80%;
}
/* line 145, ../scss/_768up.scss */
#featuredHues #featuredLarge h2 {
  font-size: 3.2em;
}
/* line 150, ../scss/_768up.scss */
#featuredHues .featuredCard {
  float: none;
  width: 100%;
}
/* line 158, ../scss/_768up.scss */
#featuredHues .featuredCard h4 {
  font-size: 24px;
}
/* line 162, ../scss/_768up.scss */
#featuredHues .featuredCard h2 {
  font-size: 3.2em;
}

/* line 172, ../scss/_768up.scss */
.home #samPhoto {
  display: none;
}

/* line 177, ../scss/_768up.scss */
#homeLinks {
  text-align: left;
}

/* line 181, ../scss/_768up.scss */
#tabs-container {
  display: block;
  text-align: center;
}
/* line 185, ../scss/_768up.scss */
#tabs-container .alt-font {
  font-size: 24px;
  margin-top: 15px;
}
/* line 190, ../scss/_768up.scss */
#tabs-container #tabNav {
  width: 34%;
  margin: 0;
  margin-top: 20px;
}
/* line 195, ../scss/_768up.scss */
#tabs-container #tabNav img {
  max-width: 80%;
  height: auto;
}
/* line 200, ../scss/_768up.scss */
#tabs-container #tabNav .missionButton {
  max-width: 80%;
  margin: 0 auto 5px;
}
/* line 204, ../scss/_768up.scss */
#tabs-container #tabNav .missionButton a {
  padding: 0 10px 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-size: 30px;
  line-height: 60px;
  height: 60px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* line 221, ../scss/_768up.scss */
#tabs-container #tabNav .missionButton a i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  opacity: .5;
}
/* line 223, ../scss/_768up.scss */
#tabs-container #tabNav .missionButton a#gjLink {
  background: #00a897;
}
/* line 223, ../scss/_768up.scss */
#tabs-container #tabNav .missionButton a#gjLink:hover {
  background: #00c2ae;
  color: #fff;
}
/* line 225, ../scss/_768up.scss */
#tabs-container #tabNav .missionButton a#giftLink {
  background: #803c96;
}
/* line 225, ../scss/_768up.scss */
#tabs-container #tabNav .missionButton a#giftLink:hover {
  background: #9043a8;
  color: #fff;
}
/* line 231, ../scss/_768up.scss */
#tabs-container #tabContentWrap {
  width: 66%;
  margin: 0;
}
/* line 236, ../scss/_768up.scss */
#tabs-container .tabs-menu {
  clear: both;
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 0;
}
/* line 243, ../scss/_768up.scss */
#tabs-container .tabs-menu li {
  float: left;
  margin: 0;
  width: 100%;
  padding: 0;
  text-align: left;
}
/* line 250, ../scss/_768up.scss */
#tabs-container .tabs-menu li a {
  padding: 0 10px 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-size: 30px;
  line-height: 60px;
  height: 60px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
/* line 268, ../scss/_768up.scss */
#tabs-container .tabs-menu li a i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  opacity: .3;
}
/* line 272, ../scss/_768up.scss */
#tabs-container .tabs-menu li a#artLink {
  background: #f5a81c;
}
/* line 276, ../scss/_768up.scss */
#tabs-container .tabs-menu li a#toolsLink {
  background: #e81d76;
}
/* line 280, ../scss/_768up.scss */
#tabs-container .tabs-menu li a#resourcesLink {
  background: #42b4e3;
}
/* line 286, ../scss/_768up.scss */
#tabs-container .tabs-menu li.current {
  position: relative;
  z-index: 5;
}
/* line 290, ../scss/_768up.scss */
#tabs-container .tabs-menu li.current a {
  color: #fff;
}
/* line 293, ../scss/_768up.scss */
#tabs-container .tabs-menu li.current a i {
  opacity: 1;
}
/* line 310, ../scss/_768up.scss */
#tabs-container .tab-content {
  display: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* line 314, ../scss/_768up.scss */
#tabs-container .tab-content .project h2 {
  font-size: 3em;
  text-align: left;
}
/* line 320, ../scss/_768up.scss */
#tabs-container #art {
  display: block;
  background: #f5a81c;
  padding: 10px;
}
/* line 325, ../scss/_768up.scss */
#tabs-container #art a {
  color: #f5a81c;
}
/* line 328, ../scss/_768up.scss */
#tabs-container #art a.button {
  background: #f5a81c;
  color: #fff;
  text-shadow: none;
}
/* line 331, ../scss/_768up.scss */
#tabs-container #art .project {
  background: #f5a81c;
}
/* line 336, ../scss/_768up.scss */
#tabs-container #tools {
  background: #e81d76;
  padding: 10px;
}
/* line 340, ../scss/_768up.scss */
#tabs-container #tools a {
  color: #e81d76;
}
/* line 343, ../scss/_768up.scss */
#tabs-container #tools a.button {
  background: #e81d76;
  color: #fff;
  text-shadow: none;
}
/* line 346, ../scss/_768up.scss */
#tabs-container #tools .project {
  background: #e81d76;
}
/* line 351, ../scss/_768up.scss */
#tabs-container #resources {
  background: #42b4e3;
  padding: 10px;
}
/* line 355, ../scss/_768up.scss */
#tabs-container #resources a {
  color: #42b4e3;
}
/* line 358, ../scss/_768up.scss */
#tabs-container #resources a.button {
  background: #42b4e3;
  color: #fff;
  text-shadow: none;
}
/* line 361, ../scss/_768up.scss */
#tabs-container #resources .project {
  background: #42b4e3;
}
/* line 367, ../scss/_768up.scss */
#tabs-container #contact h3 {
  margin: 20px 0 0;
  font-size: .80em;
  text-transform: none;
}

/**********************
COLLECTIVE PAGE
**********************/
/* line 382, ../scss/_768up.scss */
.page-template-page-collective .collectiveSec h1 {
  font-size: 4.6em;
}
/* line 386, ../scss/_768up.scss */
.page-template-page-collective .collectiveSec h2 {
  font-size: 2.3em;
}
/* line 390, ../scss/_768up.scss */
.page-template-page-collective #Join p {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 4px solid rgba(255, 255, 255, 0.8);
}
/* line 396, ../scss/_768up.scss */
.page-template-page-collective #Join #mc_embed_signup {
  text-align: left;
}
/* line 400, ../scss/_768up.scss */
.page-template-page-collective #Join input[type=submit] {
  margin-top: 20px;
  font-size: 28px;
  padding: 30px 40px;
}

/**********************
NARROW PAGE TEMPLATE
**********************/
/* line 416, ../scss/_768up.scss */
.page-template-page-narrow .wrap {
  max-width: 640px;
  padding: 1em 20px;
  text-align: left;
  margin: 0 auto;
}
/* line 424, ../scss/_768up.scss */
.page-template-page-narrow .wrap .entry-content img {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* line 430, ../scss/_768up.scss */
.page-template-page-narrow .wrap .entry-content blockquote p {
  line-height: 1.2;
}
/* line 435, ../scss/_768up.scss */
.page-template-page-narrow .wrap .aligncenter {
  margin: 40px auto 40px -84px;
  max-width: 768px;
}
/* line 440, ../scss/_768up.scss */
.page-template-page-narrow .wrap .alignleft {
  margin: 40px 40px 20px -84px;
  max-width: 80%;
  height: auto;
}
/* line 446, ../scss/_768up.scss */
.page-template-page-narrow .wrap .alignright {
  margin: 40px -84px 20px 40px;
  max-width: 80%;
  height: auto;
}
/* line 452, ../scss/_768up.scss */
.page-template-page-narrow .wrap .textHighlight.alignleft {
  margin: 0px 40px 20px -84px;
  max-width: 80%;
  height: auto;
}
/* line 458, ../scss/_768up.scss */
.page-template-page-narrow .wrap .textHighlight.alignright {
  margin: 0px -84px 20px 40px;
  max-width: 80%;
  height: auto;
}
/* line 467, ../scss/_768up.scss */
.page-template-page-narrow .wrap #relatedPages {
  margin: 40px -84px 20px 40px;
}
/* line 471, ../scss/_768up.scss */
.page-template-page-narrow .wrap .wp-caption-text {
  padding: 0 15px;
}
/* line 475, ../scss/_768up.scss */
.page-template-page-narrow .wrap .wp-caption.aligncenter p.wp-caption-text {
  text-align: center;
}
/* line 477, ../scss/_768up.scss */
.page-template-page-narrow .wrap .wp-caption.alignright p.wp-caption-text {
  text-align: right;
}

/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 491, ../scss/_768up.scss */
#infoBar {
  overflow: visible;
}

/* line 495, ../scss/_768up.scss */
#topBar {
  position: relative;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 506, ../scss/_768up.scss */
#topBar:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
/* line 512, ../scss/_768up.scss */
#topBar #topNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 519, ../scss/_768up.scss */
#topBar #topNav ul li a {
  display: block;
  text-align: center;
  float: left;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
}
/* line 526, ../scss/_768up.scss */
#topBar #topNav ul li a span {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 2px;
}
/* line 536, ../scss/_768up.scss */
#topBar #topNav ul li a#huesNav {
  width: 8%;
}
/* line 540, ../scss/_768up.scss */
#topBar #topNav ul li a#artNav {
  width: 21%;
}
/* line 544, ../scss/_768up.scss */
#topBar #topNav ul li a#toolsNav {
  width: 21%;
}
/* line 548, ../scss/_768up.scss */
#topBar #topNav ul li a#resourcesNav {
  width: 21%;
}
/* line 552, ../scss/_768up.scss */
#topBar #topNav ul li a#gjNav {
  width: 21%;
}
/* line 556, ../scss/_768up.scss */
#topBar #topNav ul li a#giftNav {
  width: 8%;
}
/* line 559, ../scss/_768up.scss */
#topBar #topNav ul li a#giftNav span {
  display: none;
}

/* line 569, ../scss/_768up.scss */
.header #primaryNavContainer {
  float: left;
  padding: 40px 20px;
  width: 33.3333%;
}
/* line 575, ../scss/_768up.scss */
.header #headerShop {
  padding: 40px 40px 40px 20px;
  width: 33.33333%;
  margin: 0;
  float: right;
}
/* line 581, ../scss/_768up.scss */
.header #headerShop a {
  height: 50px;
  line-height: 46px;
  font-style: regular;
  font-weight: 300 !important;
  font-size: 18px;
  width: 100%;
  text-align: center;
  display: block;
  color: #f5a81c;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #f5a81c;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* line 596, ../scss/_768up.scss */
.header #headerShop a:hover {
  background: #f5a81c;
  border-color: #a46c07;
  color: #a46c07;
}
/* line 604, ../scss/_768up.scss */
.header #headerSearch {
  width: 33.33333%;
  padding: 40px 20px 40px 40px;
}

/* line 610, ../scss/_768up.scss */
#primaryNavContainer {
  float: right;
  float: left;
  width: 50%;
  box-shadow: none;
  height: 50px;
  /* Primary */
}
/* line 617, ../scss/_768up.scss */
#primaryNavContainer a#mobile-menu {
  height: 50px;
  line-height: 46px;
  font-style: regular;
  font-weight: 300 !important;
  font-size: 18px;
  width: 100%;
  text-align: center;
  display: block;
  color: rgba(200, 200, 200, 0.9);
  border: 2px solid rgba(200, 200, 200, 0.9);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* line 630, ../scss/_768up.scss */
#primaryNavContainer a#mobile-menu i {
  margin-left: 7px;
}
/* line 632, ../scss/_768up.scss */
#primaryNavContainer a#mobile-menu:hover {
  color: #fff;
  background: #00a897;
  border-color: #00c2ae;
}
/* line 639, ../scss/_768up.scss */
#primaryNavContainer nav#primaryNav {
  /* end ul */
}
/* line 641, ../scss/_768up.scss */
#primaryNavContainer nav#primaryNav .closeNav {
  padding: 5px;
  float: right;
  width: 20%;
}
/* line 648, ../scss/_768up.scss */
#primaryNavContainer nav#primaryNav .closeNav a:hover {
  background: #cb2044;
  color: #fff;
}
/* line 653, ../scss/_768up.scss */
#primaryNavContainer nav#primaryNav .closeNav a:active {
  color: rgba(255, 255, 255, 0.7);
  background: #9f1935;
}
/* line 660, ../scss/_768up.scss */
#primaryNavContainer nav#primaryNav ul {
  margin: 0;
  /* end .menu li */
}
/* line 663, ../scss/_768up.scss */
#primaryNavContainer nav#primaryNav ul li {
  float: left;
  padding: 5px;
  width: 20%;
  text-overflow: ellipsis;
}
/* line 669, ../scss/_768up.scss */
#primaryNavContainer nav#primaryNav ul li a {
  font-size: 22px;
}
/* line 672, ../scss/_768up.scss */
#primaryNavContainer nav#primaryNav ul li a:active {
  color: rgba(0, 0, 0, 0.5);
  font-size: 200%;
}

/* Primary Container */
/*********************
CATEGORIES AND ARCHIVES
*********************/
/* line 694, ../scss/_768up.scss */
.yearly-archive .updatesSub {
  float: right;
}
/* line 698, ../scss/_768up.scss */
.yearly-archive h2 {
  padding: 18px 12px;
}
/* line 704, ../scss/_768up.scss */
.yearly-archive ul li a {
  font-size: 22px;
  padding: 18px 12px;
}
/* line 710, ../scss/_768up.scss */
.yearly-archive ul li:first-of-type {
  border-top: none;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* line 730, ../scss/_768up.scss */
.single .sidebar {
  opacity: .4;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
/* line 735, ../scss/_768up.scss */
.single .sidebar:hover {
  opacity: 1;
}

/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
POSTS & CONTENT STYLES
*********************/
/* line 769, ../scss/_768up.scss */
.single.section-merch .article-header {
  float: left;
  width: 50%;
}
/* line 774, ../scss/_768up.scss */
.single.section-merch .us_posts_top {
  display: none;
}
/* line 778, ../scss/_768up.scss */
.single.section-merch .featuredImage {
  float: right;
  width: 46%;
  padding-right: 40px;
}
/* line 783, ../scss/_768up.scss */
.single.section-merch .featuredImage img {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* line 788, ../scss/_768up.scss */
.single.section-merch .merchSingleContent {
  float: left;
  width: 50%;
}

/* line 794, ../scss/_768up.scss */
#stickyPostTitle {
  display: none;
  position: fixed;
  left: 0;
  z-index: 999;
  width: 100%;
  font-size: 31px;
  line-height: 31px;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: top 0.4s ease-in-out;
  -ms-transition: top 0.4s ease-in-out;
  -o-transition: top 0.4s ease-in-out;
  -transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
}

/* line 811, ../scss/_768up.scss */
.unactiveSticky {
  max-height: 0px;
  top: -50px;
}

/* line 816, ../scss/_768up.scss */
.activateSticky {
  top: 50px;
  max-height: 100px;
  background: white;
  height: 31px;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12);
}

/* end .hentry */
/* want to style individual post classes? Booya! */
/* post by id (i.e. post-3) */
/* general post style */
/* general article on a page style */
/* general style on an attatchment */
/* sticky post style */
/* hentry class */
/* style by category (i.e. category-videos) */
/* style by tag (i.e. tag-news) */
/* post meta */
/* line 852, ../scss/_768up.scss */
.byline {
  color: #999;
}

/* line 858, ../scss/_768up.scss */
#getTheBookHome {
  display: block;
}
/* line 861, ../scss/_768up.scss */
#getTheBookHome .option {
  width: 33.33333333%;
  float: left;
}

/* line 870, ../scss/_768up.scss */
.single-updates p.byline, .single-press_clippings p.byline {
  margin: 40px 0 5px;
  line-height: 1.1;
  font-size: 18px;
  opacity: .7;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 878, ../scss/_768up.scss */
.single-updates p.byline:hover, .single-press_clippings p.byline:hover {
  opacity: 1;
}
/* line 883, ../scss/_768up.scss */
.single-updates .huesLinks, .single-press_clippings .huesLinks {
  margin-right: 2%;
}
/* line 886, ../scss/_768up.scss */
.single-updates .huesLinks a, .single-press_clippings .huesLinks a {
  margin: 0;
}
/* line 891, ../scss/_768up.scss */
.single-updates .article-header .huesLinks, .single-press_clippings .article-header .huesLinks {
  text-align: left;
}

/**********************
PROJECT LOOP STYLES
**********************/
/* line 902, ../scss/_768up.scss */
#main .project h2 {
  font-size: 3em;
}
/* line 903, ../scss/_768up.scss */
#main .subtitle {
  font-size: 1.4em;
  width: 66.666%;
}

/**********************
BLOG AND TEASER STYLES
**********************/
/* line 910, ../scss/_768up.scss */
.teaser {
  margin-bottom: 2.762430939%;
}
/* line 913, ../scss/_768up.scss */
.teaser .teaserTitle {
  padding: 30px 30px 15px;
}
/* line 917, ../scss/_768up.scss */
.teaser .teaserText {
  padding: 15px 30px 30px;
  width: 50%;
  margin: 0;
}
/* line 923, ../scss/_768up.scss */
.teaser .teaserImage {
  width: 50%;
  margin: 0;
}

/* line 929, ../scss/_768up.scss */
.snapshot {
  margin: 8.762430939% auto;
}

/* line 937, ../scss/_768up.scss */
#relatedPosts .shadowbox .loopText {
  font-size: 1.1em;
}

/**********************
BLOGGED STYLES
**********************/
/* line 950, ../scss/_768up.scss */
.blogged .loopText {
  float: right;
  width: 100%;
  text-align: left;
  padding: 40px 20px 40px 37%;
  border-radius: 0;
  -webkit-border-radius: 0;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 966, ../scss/_768up.scss */
.sidebar h4 {
  margin-top: 0;
}

/* line 972, ../scss/_768up.scss */
.widget {
  padding: 0;
  margin: 0 0 4em;
}
/* line 977, ../scss/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 985, ../scss/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/*********************
TESTIMONIAL STYLES
*********************/
/* line 997, ../scss/_768up.scss */
.testimonialWrap {
  margin: 1.5em 0;
  position: relative;
}
/* line 1002, ../scss/_768up.scss */
.testimonialWrap .testimonial {
  font-size: 2.2em;
  padding: 0 1.5em;
}
/* line 1007, ../scss/_768up.scss */
.testimonialWrap .author, .testimonialWrap .url {
  margin: 20px 0 0;
  width: 100%;
  padding-left: 50%;
  text-align: left;
  float: right;
  font-size: 1em;
}

/* line 1018, ../scss/_768up.scss */
#mailingList {
  text-align: center;
}
/* line 1021, ../scss/_768up.scss */
#mailingList label {
  text-align: right;
  display: inline-block;
  font-family: Karla, "Karla", Karla, "Karla", "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.1;
  max-width: 100px;
}
/* line 1033, ../scss/_768up.scss */
#mailingList .inputWrap input {
  padding: 24px;
}
/* line 1037, ../scss/_768up.scss */
#mailingList .inputWrap button {
  background: white;
  margin: 1%;
  width: 98%;
  color: #e81d76;
}

/*********************
CONTACT FORM STYLES
*********************/
/* line 1052, ../scss/_768up.scss */
.formspreeContact .inputWrap {
  overflow: visible;
}

/* line 1058, ../scss/_768up.scss */
.page-id-452 #container, .page-id-466 #container {
  background-image: url(../images/bg/TelephonePatentDrawingBell.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/******************************************************************

Stylesheet: Desktop Stylsheet

******************************************************************/
/*********************
HEADER STYLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
/* line 18, ../scss/_1030up.scss */
#topBar {
  height: 70px;
}
/* line 22, ../scss/_1030up.scss */
#topBar .activateSticky ul li a {
  height: 50px !important;
  line-height: 50px !important;
}
/* line 34, ../scss/_1030up.scss */
#topBar #topNav ul li a {
  height: 70px;
  line-height: 70px;
}
/* line 38, ../scss/_1030up.scss */
#topBar #topNav ul li a span {
  font-size: 17px;
  margin-left: 2px;
}

/* line 56, ../scss/_1030up.scss */
#primaryNavContainer nav#primaryNav ul li a {
  font-size: 26px;
}

/**********************
HOME STYLES
**********************/
/* line 73, ../scss/_1030up.scss */
#featuredHues {
  margin-bottom: 4%;
}
/* line 77, ../scss/_1030up.scss */
#featuredHues #featuredSmall .subtitle {
  display: block;
}
/* line 81, ../scss/_1030up.scss */
#featuredHues #featuredSmall h2 {
  font-size: 26px;
}
/* line 82, ../scss/_1030up.scss */
#featuredHues #featuredSmall .subtitle p {
  font-size: 18px;
}
/* line 86, ../scss/_1030up.scss */
#featuredHues #featuredMedium h2 {
  font-size: 36px;
}
/* line 87, ../scss/_1030up.scss */
#featuredHues #featuredMedium .subtitle p {
  font-size: 28px;
  width: 80%;
}
/* line 91, ../scss/_1030up.scss */
#featuredHues #featuredLarge h2 {
  font-size: 60px;
}
/* line 92, ../scss/_1030up.scss */
#featuredHues #featuredLarge .subtitle p {
  font-size: 30px;
  width: 50%;
}
/* line 97, ../scss/_1030up.scss */
#featuredHues .featuredCard .title {
  padding: 20px;
}
/* line 103, ../scss/_1030up.scss */
#featuredHues .featuredCard h3 {
  font-size: 36px;
}
/* line 107, ../scss/_1030up.scss */
#featuredHues .featuredCard h4 {
  font-size: 26px;
}

/* line 125, ../scss/_1030up.scss */
#tabs-container .tabs-menu li {
  text-align: center;
}

/**********************
ARTICLES AND BOOKS PAGE
**********************/
/* line 140, ../scss/_1030up.scss */
#myBooks .bookCard img {
  width: 60%;
}
/* line 144, ../scss/_1030up.scss */
#myBooks .bookCard .text {
  width: 60%;
}

/**********************
BLOG AND TEASER STYLES
**********************/
/* line 155, ../scss/_1030up.scss */
.teaser {
  margin-bottom: 3em;
}
/* line 158, ../scss/_1030up.scss */
.teaser .teaserTitle {
  padding: 40px 40px 25px;
  font-size: 2.3em;
  line-height: 1.1;
}
/* line 164, ../scss/_1030up.scss */
.teaser .teaserText {
  padding: 25px 40px 40px;
  width: 55%;
}
/* line 169, ../scss/_1030up.scss */
.teaser .teaserImage {
  width: 45%;
}

/* line 178, ../scss/_1030up.scss */
#relatedPosts .shadowbox .loopText {
  font-size: 1.35em;
}

/**********************
NARROW PAGE TEMPLATE
**********************/
/* line 191, ../scss/_1030up.scss */
.page-template-page-narrow .wrap {
  padding: 1em 20px;
}
/* line 194, ../scss/_1030up.scss */
.page-template-page-narrow .wrap .aligncenter {
  margin: 40px auto 40px -215px;
  max-width: 1030px;
}
/* line 199, ../scss/_1030up.scss */
.page-template-page-narrow .wrap .alignleft {
  margin: 40px 40px 20px -215px;
  height: auto;
}
/* line 204, ../scss/_1030up.scss */
.page-template-page-narrow .wrap .alignright {
  margin: 40px -215px 20px 40px;
  max-width: 90%;
}
/* line 209, ../scss/_1030up.scss */
.page-template-page-narrow .wrap .textHighlight.alignleft {
  margin: 0px 40px 40px -215px;
  height: auto;
}
/* line 214, ../scss/_1030up.scss */
.page-template-page-narrow .wrap .textHighlight.alignright {
  margin: 0px -215px 40px 40px;
  max-width: 90%;
}
/* line 219, ../scss/_1030up.scss */
.page-template-page-narrow .wrap #relatedPages {
  margin: 40px -215px 20px 40px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
